/*Footer*/
#footer{
    margin-top: auto;
    background-color: black;
    padding:10px 0px;
}
.text-center{
    padding-bottom: 0 !important;
    text-align: center;
    justify-content: center;
    
}
footer a{
    color:rgb(95, 93, 93);
}

footer a:hover{
    color:black;
    text-decoration: none;
}