.sidenav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 250px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: auto; /* Stay at the top */
    left: auto;
    background-color: #c7caca; /* Black */
    overflow-y: auto /* Disable horizontal scroll */;
    padding-top: 10px;
}

.list{
    text-decoration: none !important;
    color: #000 !important;
    font-weight: 500;
    border-bottom: 1px #000;
}